<nav class="navbar">
  <a class="nav-icon" href="https://womenswellnessreports.onrender.com" title="Wellness Tracker" target="_self">
    <i class="fas fa-droplet"></i>
  </a>
  <a class="nav-icon" href="https://law-bot-iy5m.onrender.com" title="Law Bot" target="_self">
    <i class="fas fa-scale-balanced"></i>
  </a>
  <a class="nav-icon" href="https://connect-xptr.onrender.com" title="Her Connect" target="_self">
    <i class="fas fa-hands-helping"></i>
  </a>
  <a class="nav-icon" href="https://chat-bot-3xrm.onrender.com" title="Chat Bot" target="_self">
    <i class="fas fa-robot"></i>
  </a>
  <a class="nav-icon" href="/" title="Steganography" target="_self">
    <i class="fas fa-image"></i>
  </a>
</nav>
